@tailwind base;
@tailwind components;
@tailwind utilities;



#body {
  background-color: #2b15b7;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  height: 10vh;
  top: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.622);
  position: fixed;
  top: 0px;
}

.img1 {
  max-width:250px;
  height: 250px;
  
 
}

.link {
  margin: 20px;
  text-align: right;
}

.link a {
  padding-right: 22px;
  color: rgba(20, 20, 229, 0.554);
  cursor: pointer;
}

.link a:hover {
  padding: 10px;
  background-color: #3316eb;
  color: white;
  border-radius: 20px;
  transition: 3s;
}
